<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="./../public/css/style.css">
</head>
<body>
    <h1>home</h1> 
    <% if(session.user){ %>
    <h2>hello <%=  session.user.firstName %></h2>
    <% } %>
    <h2>hello Guse</h2>
</body>
</html>