<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/loginStyle.css">
</head>
<body>
    
    <form action="/login" method="post" class="area">
        <h1>login</h1>
        <input type="email" name="email" placeholder="email" class="inputt">
        <input type="password" name="password" placeholder="password" class="inputt">
        <div class="nav">
            <button class="register"><a href="/register">Register</a></button>
            <button type="submit" class="register">Login</button>
            <button class="register"><a href="/home">Home</a></button>
        </div>
        <% if(message){ %>
            <h4><%= message %></h4>
        <% } %>
    </form>
</body>
</html>