<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/registerStyle.css">
</head>
<body>
    <form action="/register" method="post" class="area">
        <h1>Register</h1>
        <div class="name">
            <input type="text" name="firstName" placeholder="first name" required class="inputt">
            <input type="text" name="lastName" placeholder="last name" required class="inputt">
        </div>
        <input type="email" name="email" placeholder="email" required class="inputt">
        <input type="password" name="password" placeholder="password" required class="inputt">
        <div class="nav">
            <button class="register"><a href="/login">Login</a></button>
            <button type="submit" class="register">Register</button>
            <button class="register"><a href="/home">Home</a></button>
        </div>
        <% if(message){ %>
            <h4><%= message %></h4>
        <% } %>
    </form>
</body>
</html>