<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transaction</title>
    <link rel="stylesheet" href="css/transactionStyle.css">
</head>
<body>
    <header>
        <nav>
            <ul id="listBar">
                <li id="home" class="listItem"><a href="home">Home</a></li>
                <li id="transaction" class="listItem"><a href="transaction">Transaction</a></li>
                <li id="budgetiation" class="listItem"><a href="budgetiation">Budgetiation</a></li>
                <li id="visilisation" class="listItem"><a href="visilisation">Visilisation</a></li>
            </ul>
        </nav>
        <div class="walet">
            <div class="budge">000.0 Dh</div>
        </div>
    </header>

</body>
</html>