<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transaction</title>
    <link rel="stylesheet" href="css/transactionStyle.css">
</head>
<body>
    <header>
        <nav>
            <ul id="listBar">
                <li id="home" class="listItem"><a href="home">Home</a></li>
                <li id="transaction" class="listItem"><a href="transaction">Transaction</a></li>
                <li id="budgetiation" class="listItem"><a href="budgetiation">Budgetiation</a></li>
                <li id="visilisation" class="listItem"><a href="visilisation">Visilisation</a></li>
            </ul>
        </nav>
        <div class="walet">
            <div class="budge"><%= budge %> Dh</div>
        </div>
    </header>

    <div class="choseBudge">
        <div class="budge">Budge</div>
        <select name="budge" id="selectBudge">
            <option value="wallet">wallet</option>
            <option value="ff">ff</option>
        </select>
    </div>

    <section id="addTransaction">
        <div class="top">
            <h3 class="item">ajout transaction</h3>
            <div class="item" class="mony">0000</div>
        </div>

        <form action="" method="post" class="detai">
            <ul class="column">
                <li>
                    <input type="number" placeholder="budge ... DH">
                </li>
                <li>
                    <input type="text" placeholder="explain">
                </li>
                <li>
                    <button type="submit" id="submitB">valid</button>
                </li>
            </ul>
            <select name="transactionTo" class="column" id="transactionTo">
                <option value="non">non</option>
                <option value="walet">walet</option>
                <option value="ff">ff</option>
            </select>
        </form>
    </section>

    <section id="toutTransaction">
        <h4 id="export">export csv</h4>
        <ul id="listTransaction">
            <li class="transactionItem">1111111111111111111111111</li>
            <li class="transactionItem">2222222222222222222222222</li>
            <li class="transactionItem">33333333333333333333333333333333333333333333333333</li>
            <li class="transactionItem">4444444444444444444444444</li>
            <li class="transactionItem">5555555555555555555555555</li>
        </ul>
    </section>

</body>
</html>